# Core Libraries
numpy
pandas

# Deep Learning
torch>=2.0.0
torchvision
torchaudio

# Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
lightgbm

# Experiment Tracking
mlflow

# Deployment
streamlit

# Utilities
python-dotenv
